%h2 Describe your query.
= render "supportilla/shared/errors", object: @ticket
= form_for(@ticket, html: {class: "well"}) do |f|
  = f.label :name
  = f.text_field :name, required: true, maxlength: 30
  = f.label :email, "Email adress"
  = f.text_field :email, required: true, maxlength: 30 
  = f.label :subject_id, "Ticket's subject"
  = f.collection_select(:subject_id, 
    Supportilla::Subject.where(activity: true), :id, :description)
  = f.label :question
  = f.text_area :question, wrap: "soft", required: true, size: "30x5"
  = f.submit "Send", class: "btn", data: { confirm: "Create ticket?"}
= link_to "About Supportilla", "https://github.com/DrTr/Supportilla",
  target: "_tab"
%br
= link_to "Staff sign in", signin_path
