!!!
%html
  %head
    %title Supportilla
    = stylesheet_link_tag    "supportilla/application", :media => "all" 
    = javascript_include_tag "supportilla/application" 
    = csrf_meta_tags 
  %body
    = image_tag("supportilla/philosoraptor.png", size: "56x56", id: "logo")
    = yield 
    = debug(params) if Rails.env.development? 